.site-header {
    background: #fcfcfc;
    border-bottom: 0.063em solid #f3f3f3;
    padding: 0.5rem;


	.branding-navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.125rem;
	}

	.site-branding {
		display: flex;
		align-items: center;

		.sep {
			font-size: 1.125rem;
			margin-left: 0.75rem;
			margin-right: 0.75rem;
		}

		.site-title,
		.site-description {
			margin: 0;
			padding: 0;
		}

		.site-title {
			font-size: 1.75rem;
			margin-left: 1rem;
		}

		.site-title a {
			border-bottom: none;
			color: #757575;
			text-decoration: none;
		}

		.site-description {
			color: #959595;
			font-size: 15px;
		}
	}
}
