$grid-columns: (
	grid-col-1: repeat( 1, 1fr ),
	grid-col-2: repeat( 2, 1fr ),
	grid-col-3: repeat( 3, 1fr ),
	grid-col-4: repeat( 4, 1fr ),
	grid-col-5: repeat( 5, 1fr ),
	grid-col-6: repeat( 6, 1fr ),
	grid-col-7: repeat( 7, 1fr ),
	grid-col-8: repeat( 8, 1fr ),
	grid-col-9: repeat( 9, 1fr ),
	grid-col-10: repeat( 10, 1fr ),
);

@each $name, $value in $grid-columns {
	.#{ $name } {
		display: grid;
		grid-template-columns: $value;
		grid-gap: 1.125rem;
		padding: 0;
	}
}


.gallery-columns-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.125rem;
	max-width: 896px;
}